
$color: #ececea !important;
$color2: #353639 !important;
$color3: #7e7e7e !important;
$color4: #489fb5 !important;
$color5 : #5E239D !important;
body {
  // box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif !important;
    scrollbar-color: #cf5151 #1a1a1a !important;
  // font-family: "Manrope", sans-serif !important;
  background: $color;
}


::-webkit-scrollbar {
  background: rgb(22, 22, 22);
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background: rgb(65, 65, 65);
}
::-webkit-scrollbar-track {
  background: rgb(34, 34, 34);
}

* h1,
a,
button,
h2,
h3,
h4,
h5,
h6,
input,
label,
p,
select,
span,
textarea {
//   // font-family: "Manrope", sans-serif !important;
font-family: "Inter", sans-serif!important;
  
}

.capitalize {
  text-transform: capitalize;
}
.emailinput {
  min-width: 200px;
  padding: 1em;
  border: 1px solid #c0c0c0;
  &:focus {
      outline: none;
  }
}
.op0 {
  opacity: 0;
}
.y1 {
  transform: translateY(12px);
}

.h100 {
  height: 100%;
}
.w100 {
  width: 100%;
}
.col {
  flex-direction: column;
}

.invert {
  filter: invert(1);
}
.justify-evenly {
  justify-content: space-evenly;
}
.color3 {
  color: $color3;
}
.topd {
  object-position: top;
}
.leftd {
  object-position: left;

}
.centerd {
  object-position: center;
}
.center {
  justify-content: center;
}
.c50 {
  right: 50%;
  transform: translateX(50%);
}
.fixed {
  position: fixed;
}
.p0 {
  padding: 0 !important;
}
.cover {
  object-fit: cover;
}
.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.overflowed {
  position: absolute;
  width: 100vw;
  z-index: 1222;
  height: 100vh;
  background: #00000082;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  
  .nav-menu {
    // justify-content: center;
    position: absolute;
    border-bottom: 1px solid gray;
   
    padding: .5em 0 .5em 0;
    // text-align: center;
    // align-items: center;
    display: flex;
    width: inherit;
    a {
      p {
        padding: 0 .25em;
      }
    }
    &:hover {
      background: #cccccc36;
    }
    // margin: 0 auto;
  }
}
.glass {
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
}
.contain {
    object-fit: contain !important;
}
.bg2 {
  background: $color3;
}
.borderColor {
  border-color: $color;
}
.borderColor2 {
  border-color: $color2;
}
.rounded {
  border-radius: 50%;
}
.color2 {
  color: $color2;
}
.color {
  color: $color;
}
.flex {
  display: flex;
}
.shadow {
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0px, rgba(27, 31, 35, 0.15) 0 0 0 1px;
}
.limited {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.space-evenly {
  justify-content: space-evenly;
}
.carthover {
  &:hover {
      background: #286538  !important;
  }
}
.carthover2 {
  &:hover {
      background: #84a545  !important;
  }
}
.italic {
  font-style: italic;
}
.hovereffect {
  text-decoration: none;
  h1 {
      transition: .3s all;
      border-bottom :2px solid transparent;
      text-decoration: none;

      &:hover {
          
          border-bottom :2px solid $color3;
      }
  }
}

.hover-shadow {
  &:hover {
      box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;

  }
}
.trans {
  transition: all 0.1s ease-in;
}

.cursor {
  cursor: pointer;
}
.touch-none {
  pointer-events: none;
}
.cent {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}
.row {
  flex-direction: row;
}
.bg {
  background: $color;
}
.bg3 {
  background: $color2;
}
.bg4 {
  background: $color4;
}
.bg5 {
  background: $color5;
}
.border3 {
  border-color: $color2;
}
.white {
  color: white !important;
}
.wrap {
  flex-wrap: wrap;
}
.gap1 {
  gap: 0.25em;
}
.gap2 {
  gap: .5em;
}
.gap4 {
  gap: 1em;

}
.absolute {
  position: absolute;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.button {
  text-transform: uppercase !important;
  p {
      text-transform: uppercase !important;

  }
}
.swiper-button-prev , .swiper-button-disabled, .swiper-button-next {
  color: black;
  background: $color4;
  width: 25px !important;
  height: 25px !important;
  font-size: .5em;
  opacity: 0.8 !important;
  border-radius: 50%;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after,

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  font-size: 1.7em !important;
}
.black {
  color: black;
}
button:disabled,
button[disabled] {
  opacity: 0.56;
}

.justify-between {
  justify-content: space-between;
}

.cap {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}
.clr {
  color: $color;
}
.clr2 {
  color: $color2;
}
.auto {
  margin: 0 auto;
}
.decor-none {
  text-decoration: none;
}
.relative {
  position: relative !important;
}
.catecard {
  padding: 10% 2em;
  color: white;
  height: 100%;
  display: flex;
  padding-bottom: 0;
  flex-direction: column;

}
.carditem {
  overflow: hidden;
  .cateimg {
      transition: all 0.4s ease-in;

  }
  &:hover {

      .cateimg {
          transform: scale(1.16);
      }
  }
}

.gray {
  color: rgb(63, 63, 63);
}
.uppercase {
  text-transform: uppercase;
}
.red {
  color: red;
}
.green {
  color: green;
}
.grad {
  background: rgb(6,6,74);
}
.trans1 {
  transition: all 5s ease;
}
.grad1 {
  background: radial-gradient(circle, rgba(6,6,74,1) 0%, rgba(0,0,47,1) 63%, rgba(0,0,57,1) 100%);

}



.project-card {
&:hover {
.decoy {
  opacity:1;
}
}
.decoy {
  opacity:0;

  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  position: absolute;
  top: 0;
  border: 1px solid #ffffff21 ;
  background: #0c1021c4 ;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  right: 0;
}
}
.custom-br {
  width: 90%;
  opacity: .6;
  height: 1px;
  background: linear-gradient(to right, rgba(255,255,255,0), #550df4, rgba(255,255,255,0));
  position: relative;
  margin: 0.5em auto;
}

.custom-br::before,
.custom-br::after {
  content: "";
  position: absolute;
  top: -1px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: rgba(255,255,255,0);
}
.gray2 {
  color:rgb(150 161 192 );
}
.custom-br::before {
  border-width: 1px 0 0 1px;
  left: -1px;
}

.custom-br::after {
  border-width: 1px 1px 0 0;
  right: -1px;
}

@media (min-width: 576px) {
  .custom-br {
    width: 70%;
  }
}

@media (min-width: 992px) {
  .custom-br {
    width: 60%;
  }
}
.tech-item {
  // background-color: rgba(25, 23, 43, 0);
  // background-image: linear-gradient(110deg, #19172b, rgba(25, 23, 43, .58) 71%);
  // border: 1px solid #19172b;
  width: auto;
  min-height: 0;
  margin-bottom: 10px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 5px 20px;
  border-radius: 500px;
}



.fullscreen-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
  color: #fff;
  font-weight: 900;
  text-align: center;
  overflow: hidden;
  flex-wrap: wrap;
  .word {
    font-size: 2em;
    display: block;
  font-weight: 900;

    margin-right: .25em;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
  }

  .word:nth-child(1) {
    animation-delay: 0.6s;
  }

  .word:nth-child(2) {
    animation-delay: 0.9s;
  }

  .word:nth-child(3) {
    animation-delay: 1.3s;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}


.hero {
  opacity: 0;
  transform: translateY(20px);
}
.navbar {
  opacity: 0;
  transform: translate(50%, 10px);

}
.mask {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: red;
  width: 100%;
}
.y10 {
} 
.y20 {
  transform: translateY(10px);
}
.op0 {
  opacity: 0;
}

.image-container {
  height: 100%;
  position: relative;
  overflow: hidden;

  .img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
  }

  &:hover .img {
    transform: scale(1.1);
  }
}